{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [lesser_evil]}
]}.

{relx, [{release, {lesser_evil, "0.1.0"},
         [lesser_evil,
          sasl]},

        {sys_config_src, "./config/sys.config.src"},
        {vm_args_src, "./config/vm.args.src"},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {extended_start_script, true},
                            {sys_config_src, "./config/sys.config.src"},
                            {vm_args_src, "./config/vm.args.src"}
                            ]}]
            }]
}.
